# Exploring Data with Pandas

We'll be working with data set from Fortune magazine's Global 500 list 2017, which ranks the top 500 corporations worldwide by revenue. The dataset is a CSV file called f500.csv. Here is a data dictionary for some of the columns in the CSV:
- company - The Name of the company.
- rank - The Global 500 rank for the company.
- revenues - The company's total revenues for the fiscal year, in millions of dollars (USD).
- revenue_change - The percentage change in revenue between the current and prior fiscal years.
- profits - Net income for the fiscal year, in millions of dollars (USD).
- ceo - The company's Chief Executive Officer.
- industry - The industry in which the company operates.
- sector - The sector in which the company operates.
- previous_rank - The Global 500 rank for the company for the prior year.
- country - The Country in which the company is headquartered.
- hq_location - The City and Country, (or City and State for the USA) where the company is headquarted.
- employees - Total employees (full-time equivalent, if available) at fiscal year-end.

In [2]:
import pandas as pd
import numpy as np

In [4]:
f500 = pd.read_csv('f500.csv',index_col = 0)
f500.index.name = None
f500

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [3]:
f500.loc[f500["previous_rank"] == 0]

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Legal & General Group,49,105235,442.3,1697.9,577954,3.4,Nigel Wilson,"Insurance: Life, Health (stock)",Financials,0,Britain,"London, Britain",http://www.legalandgeneralgroup.com,17,8939,8579
Uniper,91,74407,NaN,-3557.5,51541,NaN,Klaus Schafer,Energy,Energy,0,Germany,"Dusseldorf, Germany",http://www.uniper.energy,1,12890,12889
Dell Technologies,124,64806,18.1,-1672.0,118206,NaN,Michael S. Dell,"Computers, Office Equipment",Technology,0,USA,"Round Rock, TX",http://www.delltechnologies.com,17,138000,13243
Anbang Insurance Group,139,60800,124.0,3883.9,430040,0.9,Wu Xiaohui,"Insurance: Life, Health (Mutual)",Financials,0,China,"Beijing, China",http://www.anbanggroup.com,1,40707,20372
Albertsons Cos.,141,59678,1.6,-373.3,23755,NaN,Robert G. Miller,Food and Drug Stores,Food & Drug Stores,0,USA,"Boise, ID",http://www.albertsons.com,13,273000,1371
Hewlett Packard Enterprise,181,50123,NaN,3161.0,79679,NaN,Margaret C. Whitman,Information Technology Services,Technology,0,USA,"Palo Alto, CA",http://www.hpe.com,1,195000,31448
Hengli Group,268,37880,12.2,821.7,14838,43.7,Chen Jianhua,Textiles,Industrials,0,China,"Suzhou City, China",http://www.hengli.com,1,61400,5498
Johnson Controls International,272,37674,-6.3,-868.0,63253,-155.5,Alex A. Molinaroli,Industrial Machinery,Industrials,0,Ireland,"Cork, Ireland",http://www.johnsoncontrols.com,13,209000,24118
Chubb,342,31469,65.7,4135.0,159786,45.9,Evan G. Greenberg,Insurance: Property and Casualty (Stock),Financials,0,Switzerland,"Zurich, Switzerland",http://www.chubb.com,1,31000,48275
Charter Communications,376,29003,197.3,3522.0,149067,NaN,Thomas M. Rutledge,Telecommunications,Telecommunications,0,USA,"Stamford, CT",http://www.charter.com,1,91500,40139
Medtronic,377,28833,42.3,3538.0,99782,32.3,Omar S. Ishrak,Medical Products and Equipment,Health Care,0,Ireland,"Dublin, Ireland",http://www.medtronic.com,1,98017,52063
Facebook,393,27638,54.2,10217.0,64961,177.0,Mark Zuckerberg,Internet Services and Retailing,Technology,0,USA,"Menlo Park, CA",http://www.facebook.com,1,17048,59194
Kraft Heinz,410,26487,44.4,3632.0,120480,472.9,Bernardo Hees,Food Consumer Products,"Food, Beverages & Tobacco",0,USA,"Pittsburgh, PA",http://www.kraftheinzcompany.com,3,41000,57358
Nokia,415,26113,73.4,-847.1,47354,-131.0,Rajeev Suri,Network and Other Communications Equipment,Technology,0,Finland,"Espoo, Finland",http://www.nokia.com,19,102687,21192
Standard Life,432,25279,46.9,496.7,235324,-77.2,Keith Skeoch,Diversified Financials,Financials,0,Britain,"Edinburgh, Britain",http://www.standardlife.com,19,6302,5370
Brookfield Asset Management,441,24411,22.6,1651.0,159826,-29.5,J. Bruce Flatt,Diversified Financials,Financials,0,Canada,"Toronto, Ontario, Canada",http://www.brookfield.com,1,55700,26453
Mercantil Servicios Financieros,442,24403,50.3,2004.2,148659,-10.5,Gustavo J. Vollmer A.,Banks: Commercial and Savings,Financials,0,Venezuela,"Caracas, Venezuela",http://www.msf.com,1,8370,7550
Samsung C&T,447,24217,105.2,92.5,36816,-96.2,Chi-Hun Choi,"Engineering, Construction",Engineering & Construction,0,South Korea,"Seoul, South Korea",http://www.samsungcnt.com,1,13898,15155
Heraeus Holding,457,23793,65.9,NaN,4982,NaN,Jan Rinnert,Metals,Materials,0,Germany,"Hanau, Germany",http://www.heraeus.com,7,12369,3160
Yango Financial Holding,459,23657,11.5,159.2,24231,-59.0,Lin Tengjiao,Diversified Financials,Financials,0,China,"Fuzhou, China",http://www.yangofinance.com,1,10234,1925
Alibaba Group Holding,462,23517,47.9,6489.5,73538,-42.2,Daniel Zhang,Internet Services and Retailing,Technology,0,China,"Hangzhou, China",http://www.alibabagroup.com,1,50097,40454
Progressive,464,23441,12.4,1031.0,33428,-18.7,Susan Patricia Griffith,Insurance: Property and Casualty (Stock),Financials,0,USA,"Mayfield Village, OH",http://www.progressive.com,4,31721,7957
Country Garden Holdings,467,23044,27.9,1733.6,85124,17.4,Mo Bin,Real estate,Financials,0,China,"Foshan, China",http://www.countrygarden.com.cn,1,94450,10091
Altice,473,22953,42.2,-1722.5,84805,NaN,Michel Combes,Telecommunications,Telecommunications,0,Netherlands,"Amsterdam, Netherlands",http://www.altice.net,1,49732,-2668
Tencent Holdings,478,22871,39.7,6185.9,56968,35.0,Pony Ma,Internet Services and Retailing,Technology,0,China,"Shenzhen, China",http://www.tencent.com,1,38775,25128
Aflac,483,22559,8.1,2659.0,129819,5.0,Daniel P. Amos,"Insurance: Life, Health (stock)",Financials,0,USA,"Columbus, GA",http://www.aflac.com,10,10212,20482
Suning Commerce Group,485,22366,3.7,106.0,19738,-23.6,Ren Jun,Specialty Retailers,Retailing,0,China,"Nanjing, China",http://www.suning.com,1,60354,9455
Xiamen C&D,488,22145,6.6,280.2,21729,15.6,Huang Wenzhou,Trading,Wholesalers,0,China,"Xiamen, China",http://www.chinacdc.com,1,18381,3985
Dollar General,492,21987,7.9,1251.1,11672,7.4,Todd J. Vasos,Specialty Retailers,Retailing,0,USA,"Goodlettsville, TN",http://www.dollargeneral.com,1,121000,5406
Xiamen ITG Holding Group,494,21930,34.3,35.6,12161,-25.1,Xu Xiaoxi,Trading,Wholesalers,0,China,"Xiamen, China",http://www.itgholding.com.cn,1,18454,1066
Xinjiang Guanghui Industry Investment,495,21919,31.1,251.8,31957,49.9,Shang Jiqiang,Trading,Wholesalers,0,China,"Urumqi, China",http://www.guanghui.com,1,65616,4563
Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [4]:
f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan
f500

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1.0,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2.0,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4.0,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3.0,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8.0,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,NaN,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427.0,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437.0,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467.0,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,NaN,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [5]:
fifth_row = f500.iloc[5]
print(type(fifth_row))
fifth_row

<class 'pandas.core.series.Series'>

rank                                                6
revenues                                       240264
revenue_change                                    1.5
profits                                        5937.3
assets                                         432116
profit_change                                     NaN
ceo                                   Matthias Muller
industry                     Motor Vehicles and Parts
sector                         Motor Vehicles & Parts
previous_rank                                       7
country                                       Germany
hq_location                        Wolfsburg, Germany
website                     http://www.volkswagen.com
years_on_global_500_list                           23
employees                                      626715
total_stockholder_equity                        97753
Name: Volkswagen, dtype: object

In [6]:
fith_row_type_2 = f500.iloc[[5]]
fith_row_type_2

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Volkswagen,6,240264,1.5,5937.3,432116,NaN,Matthias Muller,Motor Vehicles and Parts,Motor Vehicles & Parts,7.0,Germany,"Wolfsburg, Germany",http://www.volkswagen.com,23,626715,97753

In [7]:
first_three_rows = f500.iloc[:3]
first_three_rows

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1.0,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2.0,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4.0,China,"Beijing, China",http://www.sinopec.com,19,713288,106523

In [8]:
first_seventh_row_slice = f500.iloc[[0,6], 0:5]
print(first_seventh_row_slice)

                   rank  revenues  revenue_change  profits  assets
Walmart               1    485873             0.8  13643.0  198825
Royal Dutch Shell     7    240033           -11.8   4575.0  411275

In [9]:
print(f500.iloc[:5, :3])

                          rank  revenues  revenue_change
Walmart                      1    485873             0.8
State Grid                   2    315199            -4.4
Sinopec Group                3    267518            -9.1
China National Petroleum     4    262573           -12.3
Toyota Motor                 5    254694             7.7

In [10]:
f500 = pd.read_csv("f500.csv")
f500.loc[f500['previous_rank'] == 0, 'previous_rank'] = np.nan

In [11]:
sorted_emp = f500.sort_values("employees", ascending = False)
top5_emp = sorted_emp.iloc[0:5]
top5_emp

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1.0,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3.0,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
118,China Post Group,119,65605,-5.8,4980.3,1221649,18.7,Li Guohua,"Mail, Package, and Freight Delivery",Transportation,105.0,China,"Beijing, China",http://www.chinapost.com.cn,7,941211,43114
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2.0,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
26,Hon Hai Precision Industry,27,135129,-4.3,4608.8,80436,-0.4,Terry Gou,"Electronics, Electrical Equip.",Technology,25.0,Taiwan,"New Taipei City, Taiwan",http://www.foxconn.com,13,726772,33476

In [12]:
top5_emp.iloc[1]

company                     China National Petroleum
rank                                               4
revenues                                      262573
revenue_change                                 -12.3
profits                                       1867.5
assets                                        585619
profit_change                                  -73.7
ceo                                    Zhang Jianhua
industry                          Petroleum Refining
sector                                        Energy
previous_rank                                      3
country                                        China
hq_location                           Beijing, China
website                       http://www.cnpc.com.cn
years_on_global_500_list                          17
employees                                    1512048
total_stockholder_equity                      301893
Name: 3, dtype: object

In [15]:
usa_hqs = f500.loc[f500['country'] == 'USA', 'hq_location']
usa_hqs

0          Bentonville, AR
7                Omaha, NE
8            Cupertino, CA
9               Irving, TX
10       San Francisco, CA
              ...
480        Minneapolis, MN
482           Columbus, GA
488    Hoffman Estates, IL
491     Goodlettsville, TN
499    Fort Lauderdale, FL
Name: hq_location, Length: 132, dtype: object

In [18]:
usa_hqs.head()

0       Bentonville, AR
7             Omaha, NE
8         Cupertino, CA
9            Irving, TX
10    San Francisco, CA
Name: hq_location, dtype: object

In [24]:
is_cali = usa_hqs.str.endswith('CA')
is_cali.head()

0     False
7     False
8      True
9     False
10     True
Name: hq_location, dtype: bool

In [26]:
usa = f500.loc[f500['country'] == 'USA']
california = usa[is_cali]
california.head(2)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
8,Apple,9,215639,-7.7,45687.0,321686,-14.4,Timothy D. Cook,"Computers, Office Equipment",Technology,9.0,USA,"Cupertino, CA",http://www.apple.com,15,116000,128249
10,McKesson,11,198533,3.1,5070.0,60969,124.5,John H. Hammergren,Wholesalers: Health Care,Wholesalers,12.0,USA,"San Francisco, CA",http://www.mckesson.com,23,64500,11095

In [29]:
rev_change_null = f500[f500['revenue_change'].isnull()]
rev_change_null

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
90,Uniper,91,74407,NaN,-3557.5,51541,NaN,Klaus Schafer,Energy,Energy,NaN,Germany,"Dusseldorf, Germany",http://www.uniper.energy,1,12890,12889
180,Hewlett Packard Enterprise,181,50123,NaN,3161.0,79679,NaN,Margaret C. Whitman,Information Technology Services,Technology,NaN,USA,"Palo Alto, CA",http://www.hpe.com,1,195000,31448

In [30]:
previously_ranked = f500[f500["previous_rank"].notnull()]
previously_ranked.head()

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1.0,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2.0,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4.0,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3.0,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8.0,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

In [31]:
rank_change = previously_ranked['previous_rank'] - previously_ranked['rank']
rank_change

0       0.0
1       0.0
2       1.0
3      -1.0
4       3.0
       ...
490   -20.0
492   -89.0
496   -70.0
497   -61.0
498   -32.0
Length: 467, dtype: float64

In [32]:
cols = ["company","revenues","country"]
f500_sel = f500[cols].head()
f500_sel

                    company  revenues country
0                   Walmart    485873     USA
1                State Grid    315199   China
2             Sinopec Group    267518   China
3  China National Petroleum    262573   China
4              Toyota Motor    254694   Japan

In [34]:
a = f500_sel['country'] == "China"
a

0    False
1     True
2     True
3     True
4    False
Name: country, dtype: bool

In [36]:
b = f500_sel['revenues'] > 265000
b

0     True
1     True
2     True
3    False
4    False
Name: revenues, dtype: bool

In [37]:
f500_sel.loc[a & b,["company","revenues"]]

         company  revenues
1     State Grid    315199
2  Sinopec Group    267518

In [38]:
big_rev_neg_profit = f500.loc[(f500["profits"] < 0) & (f500["revenues"] > 100000), :]
big_rev_neg_profit.head()

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
32,Japan Post Holdings,33,122990,3.6,-267.4,2631385,-107.5,Masatsugu Nagato,"Insurance: Life, Health (stock)",Financials,37.0,Japan,"Tokyo, Japan",http://www.japanpost.jp,21,248384,91532
44,Chevron,45,107567,-18.0,-497.0,260078,-110.8,John S. Watson,Petroleum Refining,Energy,31.0,USA,"San Ramon, CA",http://www.chevron.com,23,55200,145556

In [46]:
tech_outside_usa = f500[(f500["sector"] == "Technology") & ~(f500["country"] == "USA")]
tech_outside_usa.head()

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
14,Samsung Electronics,15,173957,-2.0,19316.5,217104,16.8,Oh-Hyun Kwon,"Electronics, Electrical Equip.",Technology,13.0,South Korea,"Suwon, South Korea",http://www.samsung.com,23,325000,154376
26,Hon Hai Precision Industry,27,135129,-4.3,4608.8,80436,-0.4,Terry Gou,"Electronics, Electrical Equip.",Technology,25.0,Taiwan,"New Taipei City, Taiwan",http://www.foxconn.com,13,726772,33476
70,Hitachi,71,84558,1.2,2134.3,86742,48.8,Toshiaki Higashihara,"Electronics, Electrical Equip.",Technology,79.0,Japan,"Tokyo, Japan",http://www.hitachi.com,23,303887,26632
82,Huawei Investment & Holding,83,78511,24.9,5579.4,63837,-5.0,Ren Zhengfei,Network and Other Communications Equipment,Technology,129.0,China,"Shenzhen, China",http://www.huawei.com,8,180000,20159
104,Sony,105,70170,3.9,676.4,158519,-45.1,Kazuo Hirai,"Electronics, Electrical Equip.",Technology,113.0,Japan,"Tokyo, Japan",http://www.sony.net,23,128400,22415

In [47]:
rank_change.head()

0    0.0
1    0.0
2    1.0
3   -1.0
4    3.0
dtype: float64

In [48]:
f500["rank_change"] = rank_change

In [49]:
f500.head()

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity,rank_change
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1.0,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798,0.0
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2.0,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456,0.0
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4.0,China,"Beijing, China",http://www.sinopec.com,19,713288,106523,1.0
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3.0,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893,-1.0
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8.0,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210,3.0

In [50]:
top_employer_by_country = {}
countries = f500["country"].unique()
for c in countries:
    top_employer_by_country[c] = f500[f500["country"] == c].sort_values("employees",ascending=False).iloc[0]["company"]

top_employer_by_country

{'USA': 'Walmart',
 'China': 'China National Petroleum',
 'Japan': 'Toyota Motor',
 'Germany': 'Volkswagen',
 'Netherlands': 'EXOR Group',
 'Britain': 'Compass Group',
 'South Korea': 'Samsung Electronics',
 'Switzerland': 'Nestle',
 'France': 'Sodexo',
 'Taiwan': 'Hon Hai Precision Industry',
 'Singapore': 'Flex',
 'Italy': 'Poste Italiane',
 'Russia': 'Gazprom',
 'Spain': 'Banco Santander',
 'Brazil': 'JBS',
 'Mexico': 'America Movil',
 'Luxembourg': 'ArcelorMittal',
 'India': 'State Bank of India',
 'Malaysia': 'Petronas',
 'Thailand': 'PTT',
 'Australia': 'Wesfarmers',
 'Belgium': 'Anheuser-Busch InBev',
 'Norway': 'Statoil',
 'Canada': 'George Weston',
 'Ireland': 'Accenture',
 'Indonesia': 'Pertamina',
 'Denmark': 'Maersk Group',
 'Saudi Arabia': 'SABIC',
 'Sweden': 'H & M Hennes & Mauritz',
 'Finland': 'Nokia',
 'Venezuela': 'Mercantil Servicios Financieros',
 'Turkey': 'Koc Holding',
 'U.A.E': 'Emirates Group',
 'Israel': 'Teva Pharmaceutical Industries'}

In [51]:
f500["roa"] = f500["profits"] / f500["assets"]
top_roa_by_sector = {}
for sector in f500["sector"].unique():
    top_roa_by_sector[sector] = f500[f500["sector"] == sector].sort_values("roa",ascending = False).iloc[0]["company"]
top_roa_by_sector

{'Retailing': 'H & M Hennes & Mauritz',
 'Energy': 'National Grid',
 'Motor Vehicles & Parts': 'Subaru',
 'Financials': 'Berkshire Hathaway',
 'Technology': 'Accenture',
 'Wholesalers': 'McKesson',
 'Health Care': 'Gilead Sciences',
 'Telecommunications': 'KDDI',
 'Engineering & Construction': 'Pacific Construction Group',
 'Industrials': '3M',
 'Food & Drug Stores': 'Publix Super Markets',
 'Aerospace & Defense': 'Lockheed Martin',
 'Food, Beverages & Tobacco': 'Philip Morris International',
 'Household Products': 'Unilever',
 'Transportation': 'Delta Air Lines',
 'Materials': 'CRH',
 'Chemicals': 'LyondellBasell Industries',
 'Media': 'Disney',
 'Apparel': 'Nike',
 'Hotels, Restaurants & Leisure': 'McDonald’s',
 'Business Services': 'Adecco Group'}